
h1 {
    color: aqua;
    background-color: blue;
    width: 100px;
}

li{
    color: aquamarine;
}
p{
    background-color: brown;
}
div{background-color: blue;}
h2{ 
    color: chocolate; background-color: blue
}